* {
    margin: 0;
    padding: 0;
}

body {
    header > div#container {
        width: 100%;
        margin: 0 auto;

        > div#githubLogo {
            > a > img {
                margin: 1%;
                width: 35px;
                height: 35px;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
            }
        }
    }
}