* { margin: 0; padding: 0; }

body {
    /* Header and Footer Style */
    > header {
        height: 60px;
        background-color: rgb(21, 255, 0);
        width: 100%;
    }
    > footer {
        height: 60px;
        background-color: rgb(21, 255, 0);
        width: 100%;
    }

    /* Body Style */
    background-color: rgb(17, 24, 39);
    
    > main {
        background-color: rgb(17, 24, 39);

        /* Subject Style */
        > section#subject {
            > div.container {
                width: 600px;
                margin: 80px auto;

                > p {
                    font-size: 36px;
                    font-weight: 900;
                    color: white;
                }
            }
        }

        /* Calculator Style */
        > section#calculator {
            > div.container {
                width: 500px;
                margin: 80px auto;
                margin-bottom: 0px;
            
                /* Style Section Buy or Sell */
                > div#type {
                    padding-bottom: 30px;
                    > div {
                        text-align: right;

                        > p {
                            margin-top: 11px;
                            display: inline-block;
                            font-size: 17px;
                            font-weight: 900;
                            color: white;
                            list-style-type: disc;
                        }

                        > div#link {
                            padding: 5px;
                            float: left;
                            background-color: rgb(31, 41, 55);
                            height: 35px;
                            border-radius: 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            > a {
                                display: inline-block;
                                padding: 10px;
                                text-decoration: none;
                                color: rgb(90,98,112);
                                font-size: 12px;
                            }

                            > a#buy {
                                background-color: rgb(34,197,94);
                                border-radius: 5px;
                                color: white;
                            }
                        }
                    }
                }

                /* Style Section Board Calculator */
                > div#board {
                    text-align: center;
                    background-color: rgb(25,34,49);
                    border-radius: 12px;
                    padding: 20px;

                    /* Style Section Payment */
                    > div#payment {
                        text-align: right;

                        > p {
                            font-size: 16px;
                            color: white;
                        }

                        > div {
                            background-color: rgb(17,24,39);
                            display: inline-block;
                            width: 100%;
                            height: 40px;
                            border-radius: 8px;
                            margin-top: 10px;
                            padding: 5px;

                            > p {
                                display: inline-block;
                                color: rgb(107,114,128);
                                font-size: 10px;
                            }

                            > input {
                                background-color: rgb(17,24,39);
                                border: none;
                                outline: none;
                                width: 280px;
                                height: 35px;
                                margin-bottom: 20px;
                                font-size: 15px;
                            }

                            > div {
                                display: inline-block;
                                width: 140px; /* Its should be dynamic >>> تومان */
                                background-color: rgb(24,33,47);
                                padding: 4px 8px;
                                border-radius: 8px;
                                position: relative;

                                > p {
                                    position: absolute;
                                    top: 10px;
                                    right: 45px;
                                    display: inline-block;
                                    font-size: 10px;
                                    color: white;
                                }

                                > img {
                                    width: 25px;
                                    height: 25px;

                                }
                            }
                        }
                    }

                    /* Style Section Receive */
                    > div#receive {
                        text-align: right;
                        margin-top: 30px;

                        > p {
                            font-size: 16px;
                            color: white;
                        }

                        > div {
                            background-color: rgb(17,24,39);
                            display: inline-block;
                            width: 100%;
                            height: 40px;
                            border-radius: 8px;
                            margin-top: 10px;
                            padding: 5px;

                            > p {
                                display: inline-block;
                                color: rgb(107,114,128);
                                font-size: 10px;
                            }

                            > input {
                                background-color: rgb(17,24,39);
                                border: none;
                                outline: none;
                                width: 280px;
                                height: 35px;
                                margin-bottom: 20px;
                                font-size: 15px;
                            }

                            > div {
                                display: inline-block;
                                width: 136px; /* Its should be dynamic >>> بیت کوین */
                                background-color: rgb(24,33,47);
                                padding: 4px 8px;
                                border-radius: 8px;
                                position: relative;

                                > p {
                                    position: absolute;
                                    top: 10px;
                                    right: 45px;
                                    display: inline-block;
                                    font-size: 10px;
                                    color: white;
                                }

                                > img {
                                    width: 25px;
                                    height: 25px;

                                }
                            }
                        }
                    }

                    > p {
                        color: white;
                        margin: 20px;
                        font-size: 13px;
                    }

                    > a {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        color: white;
                        background-color: rgb(34,197,94);
                        padding: 10px 0px;
                        border-radius: 8px;
                        font-weight: 900;
                    }

                }
            }
        }

        /* Style Section Description */
        > section#description {
            div.container {
                width: 500px;
                margin: 40px auto;
                
                > div {
                    padding: 10px;
                    text-align: right;
                    border-radius: 12px;
                    background-color: rgb(25,34,49);

                    > ul {
                        list-style-type: none;

                        > li {
                            > p {
                                font-size: 10px;
                                color: rgb(118,125,138);
                                margin: 7px 0;
                            }
                        }
                    }
                }

            }
        }
    }
}