* {
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;

    > div#tree {
        /* Container */
        width: 500px;
        margin: 5% auto;

        /* If hover: Show Subset */
        li:hover {
            background-color: #F8E8EE;
            padding-bottom: 20px;

            > ul {
                display: flex;
            }
        }

        /* Total Style */
        ul {
            list-style-type: none;
            padding-left: 0;
            display: none;
            align-items: center;
            justify-content: space-around;

            > li {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 1s; 
                border-radius: 50%;
                box-shadow:-3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
                
                > a {
                    transition: all 1s; 
                    text-decoration: none;
                    color: black;
                }
            }
        }

        /* The size of the environment of emojis and emojis*/
        > ul > li{
            width: 120px;
            height: 120px;
            > a { font-size: 45px; }
            ul > li {
                width: 80px;
                height: 80px;
                > a { font-size: 30px; }
                ul > li {
                    width: 40px;
                    height: 40px;
                    > a { font-size: 10px; }
                }
            }
        }

        /* Position of items and size of area */
        > ul {
            display: flex;
            justify-content: center;
            position: relative;
            > li > ul {
                width: 400px;
                height: 100px;
                position: absolute;
                top: 110px;
                > li > ul {
                    width: 200px;
                    height: 100px;
                    position: absolute;
                    top: 90px;
                }
            }
        }
    }
}