* {
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;

    > div#tree {
        /* Container */
        width: 500px;
        margin: 5% auto;

        /* If hover: Show Subset */
        li:hover {
            background-color: #F8E8EE;
            padding-bottom: 20px;

            > ul {
                display: flex;
            }
        }

        /* Total Style */
        ul {
            list-style-type: none;
            padding-left: 0;
            display: none;
            align-items: center;
            justify-content: space-around;

            > li {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 1s; 
                border-radius: 50%;
                box-shadow:-3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
                
                > a {
                    transition: all 1s; 
                    text-decoration: none;
                    color: black;
                }
            }
        }

        /* The size of the environment of emojis and emojis*/
        > ul > li{
            width: 120px;
            height: 120px;
            > a { font-size: 45px; }
            ul > li {
                width: 80px;
                height: 80px;
                > a { font-size: 30px; }
                ul > li {
                    width: 40px;
                    height: 40px;
                    > a { font-size: 10px; }
                }
            }
        }

        /* Position of items and size of area */
        > ul {
            display: flex;
            justify-content: center;
            position: relative;
            > li > ul {
                width: 400px;
                height: 100px;
                position: absolute;
                top: 110px;
                > li > ul {
                    width: 200px;
                    height: 100px;
                    position: absolute;
                    top: 90px;
                }
            }
        }
    }
    ul#studentCard {
        width: 270px;
        box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
        position: absolute;
        top: 90px;
        background: #ecf0f3;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        > .img-area{
          background: #ecf0f3;
          box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        
          > .inner-area{
            height: calc(100% - 10px);
            width: calc(100% - 10px);
            border-radius: 50%;
        
            > img{
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        > .about{
          color: #44476a;
          font-weight: 400;
          font-size: 10px;
        }
        
        > .name{
          font-size: 23px;
          font-weight: 500;
          color: #31344b;
          margin: 10px 0 5px 0;
        }
    }
}