body {
    margin: 0;
    background-color: #F5F7F8; 

    /* Div (1): Section Logo */
    div#logo {
        margin: 3% auto;
        display: flex;
        justify-content: center;
        
        div {
            transition: 1s all;
    
            img {
                width: 50px;
                height: 50px;
            }
            &:hover {
                transform: rotate(1turn) scale(2);
            }
        }
    }

    /* Div (1): Section Course List */
    div#courses {
        width: 500px;
        margin: 1% auto;

        /* Total Style */
        li:hover > ul {
            display: block;
        }
    
        ul { 
            list-style-type: none;
            padding-left: 0;
            display: none;
        }
        a {
            text-decoration: none;
            color: black;
            transition: all .1s;
        }
    
        /* Course 1, Course 2, Course 3 */
        > ul {
            display: flex;
            justify-content: space-around;
            padding-bottom: 10px;
    
            > li {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
                box-shadow:
                    5px 5px 5px 2px rgba(0, 0, 0, 0.2),
                    -5px -5px 5px 2px rgba(255, 255, 255, 0.2);
                transition: all .6s;
                position: relative;
    
                > a {
                    font-size: 20px;
                }
    
                /* Container of Sessions */
                > ul {
                    position: absolute;
                    top: 110px;
                    
                    > li {
                        position: relative;
                        width: 70px;
                        margin: 5px;
                        border-radius: 10px;
                        
                        > a {
                            font-size: 12px;

                            &:hover {
                                text-shadow: 1px 1px 2px #159CD5;
                                font-size: 15px;
                            }
                        }

                        /* Each Session */
                        > ul {
                            > li {
                                width: 25px;
                                border-radius: 50%;
                                position: absolute;
                                left: 65px;
                                top: -1px;
                                
                                > a {
                                    font-size: 13px;

                                    &:hover {
                                        text-shadow: 1px 1px 2px #d51515;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                &:hover {
                    background-color: #F4CE14;
                    transform: scale(1.3);
                    box-shadow:
                        inset 5px 5px 5px 2px rgba(0, 0, 0, 0.2),
                        inset -5px -5px 5px 2px rgba(255, 255, 255, 0.2);
                    padding-bottom: 10px;
                }
            }
        }
    }
}