* { margin: 0; padding: 0; }

body {
    /* Header and Footer Style */
    > header {
        height: 60px;
        background-color: rgb(21, 255, 0);
        width: 100%;
    }
    > footer {
        height: 60px;
        background-color: rgb(21, 255, 0);
        width: 100%;
    }

    /* Body Style */
    background-color: rgb(17, 24, 39);
    
    > main {
        background-color: rgb(17, 24, 39);

        /* Subject Style */
        > section#subject {
            > div.container {
                width: 600px;
                margin: 80px auto;

                > p {
                    font-size: 36px;
                    font-weight: 900;
                    color: white;
                }
            }
        }

        /* Calculator Style */
        > section#calculator {
            > div.container {
                width: 500px;
                margin: 80px auto;
            
                /* Style Section Buy or Sell */
                > div#type {
                    padding-bottom: 30px;
                    > div {
                        text-align: right;

                        > p {
                            margin-top: 11px;
                            display: inline-block;
                            font-size: 17px;
                            font-weight: 900;
                            color: white;
                            list-style-type: disc;
                        }

                        > div#link {
                            padding: 5px;
                            float: left;
                            background-color: rgb(31, 41, 55);
                            height: 35px;
                            border-radius: 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            > a {
                                display: inline-block;
                                padding: 10px;
                                text-decoration: none;
                                color: rgb(90,98,112);
                                font-size: 12px;
                            }

                            > a#buy {
                                background-color: rgb(34,197,94);
                                border-radius: 5px;
                                color: white;
                            }
                        }
                    }
                }

                /* Style Section Board Calculator */
                > div#board {
                    background-color: red;
                }

            }
        }

        > section#description {
            background-color: aqua;
        }
    }
}